.container.yellow_bg {padding: 0;}

.header {
  height: calc(var(--base-unit)*2.5);
  border-radius: 0 0 var(--border-radius3) var(--border-radius3);
  perspective: 1000px;
}

.header nav,
.header ul {
  height: 100%;
}

.header li {
  width: 25%;
  text-align: center;
}

.header li a {
  padding: 0 40px;
  border-radius: var(--border-radius1);
  line-height: calc(var(--base-unit)*1.5);
  height: calc(var(--base-unit)*1.5);
  display: block;
  color: var(--white-color);
  text-transform: uppercase;
  transform: rotateX(0deg);
}

.header li a:hover {
  animation: filpX 0.3s forwards;
}

@keyframes filpX {
  0% {transform: rotateX(-90deg);}
  50% {transform: rotateX(10deg); background-color: var(--blue);}
  75% {transform: rotateX(-10deg);background-color: var(--blue);}
  85% {transform: rotateX(5deg);background-color: var(--blue);}
  98% {transform: rotateX(-5deg);background-color: var(--blue);}
  100% {transform: rotateX(0deg);background-color: var(--blue); }
}


/* aside_btns */
.aside_btns {
  position: relative;
}

.aside_btns .btns_wrap {
  position: absolute;
  right: var(--base-unit);
}

.aside_btns .btns_wrap div {
  width: calc(var(--base-unit)*2);
  height: calc(var(--base-unit)*2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white-color);
  font-size: 34px;
}

.aside_btns .btns_wrap div + div {
  margin-top: calc(var(--base-unit)/2);
}