.container.yellow_bg {padding: 0;}



/* -------- header -------- */
.header {
  height: calc(var(--base-unit)*2.5);
  border-radius: 0 0 var(--border-radius3) var(--border-radius3);
  perspective: 1000px;
}

.header nav,
.header ul {
  height: 100%;
}

.header li {
  overflow: hidden;
}

.header li a {
  color: var(--white-color);
  text-transform: uppercase;
  position: relative;
  transition: top .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  top: 0;
}

.header li:hover a,
.header li.active a {
  top: -22px;
  color: var(--blue);
}

.header li a:after {
  content: attr(data-text);
  position: absolute;
  left: 0; right: 0; top: 100%; bottom: -100%;
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.header li:hover a:after {
  top: 100%; bottom: -100%;
}
/* -------- // header -------- */



/* -------- aside_btns -------- */
.aside_btns {
  position: relative;
}

.aside_btns .btns_wrap {
  position: absolute;
  right: var(--base-unit);
}

.aside_btns .btns_wrap a {
  width: calc(var(--base-unit)*2);
  height: calc(var(--base-unit)*2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white-color);
  font-size: 34px;
}

.aside_btns .btns_wrap a + a {
  margin-top: calc(var(--base-unit)/2);
}
/* -------- // aside_btns -------- */
