body {padding-top: calc(var(--base-unit)*7);}
.container.yellow_bg {padding: 0; position: relative;}



/* -------- header -------- */
.header {
  height: calc(var(--base-unit)*2.5);
  position: sticky;
  top: -1px;
  z-index: 9999;
  transition: .3s;
}

.header .menu_btn {
  display: none;
}

.header.shrink {
  height: calc(var(--base-unit)*2);
}

.header .logo {
  position: absolute;
  top: calc(-1 * var(--base-unit2));
  left: 50%;
  transform: translateX(-50%);
}

.header nav,
.header ul {
  height: 100%;
}

.header nav {
  border-radius: 0 0 var(--border-radius3) var(--border-radius3);
}

.header li {
  overflow: hidden;
  color: var(--white-color);
}

.header li a {
  text-transform: uppercase;
  position: relative;
  transition: top .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  top: 0;
}

.header li:hover a,
.header li.active a {
  top: -24px;
  color: var(--blue);
}

.header li a:after {
  content: attr(data-text);
  position: absolute;
  left: 0; right: 0; top: 100%; bottom: -100%;
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.header li:hover a:after {
  top: 100%; bottom: -100%;
}
/* -------- // header -------- */

/* -------- home -------- */
.home {
  padding: calc(var(--base-unit)*6) 0 calc(var(--base-unit)*4);
}

.home .coffee_cat {
  padding: 70px 12px 30px;
  margin-right: var(--base-unit2);
}

.home .text_box p {
  line-height: 40px;
  color: var(--font-color);
}
/* -------- //home -------- */


/* -------- about -------- */
.about {
  padding: calc(var(--base-unit)*6) 0;
}

.about_content {
  margin-top: var(--base-unit2);
}

.about .text_box p+p {
  margin-top: var(--base-unit);
}

.skills {
  padding-top: var(--base-unit2);
}

.skills .font_title {
  text-align: left;
}

.skills ul {
  gap: 20px;
  margin: var(--base-unit2) 0;
}

.skills li {
  width: calc(100% / 9);
  cursor: pointer;
}

.skills li .img {
  width: 100%;
  height: 100px;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius2);
  font-size: var(--base-unit2);
  transition: .3s;
  position: relative;
  top: 0;
}

.skills li:hover .img,
.skills li.active .img {
  top: -15px;
}

.skills li:active .img {
  transform: scale(0.95);
}

.skills li .img img {
  width: 60%;
}

.skills li span {
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
}

.skills .bar {
  height: var(--base-unit);
  margin-right: calc(var(--base-unit)/2);
}
/* -------- //about -------- */


/* -------- site -------- */
.site {
  padding-top: calc(var(--base-unit)*5);
}

.site .swiper {
  margin-top: var(--base-unit);
}
.site .swiper-slide {
  padding: var(--base-unit2);
  box-sizing: border-box;
  color: var(--white-color);
  background-color: var(--common-bg);
  box-shadow: var(--box-shadow10);
  border-radius: var(--border-radius3);
}

.site .swiper-slide h3 {
  line-height: 45px;
}
.site .swiper-slide img {
  width: 330px;
  height: 210px;
  object-fit: cover;
  background-color: #ddd;
  margin-right: var(--base-unit);
}

.site .swiper-slide .text_box li {
  color: rgb(220, 220, 220);
  list-style-type: disc;
  margin-left: 20px;
}

.site .swiper-slide .slide_bottom {
  display: flex;
  flex-direction: column;
  margin-top: var(--base-unit);
  gap: var(--base-unit);
}

.site .slide_bottom h4 {
  margin-right: var(--base-unit);
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  display: none;
}

.swiper-button-next, .swiper-button-prev {
  font-size: 50px;
  color: var(--white-color);
}

.site .slide_bottom .lang ul {
  gap: calc(var(--base-unit)/2);
}

.site .slide_bottom .lang li {
  padding: 0 10px;
  border-radius: var(--border-radius1);
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 400;
}

.site .html_badge {background-color: #d83808;}
.site .css_badge {background-color: #25BEDF;}
.site .jquery_badge {background-color: #D2CA04;}
.site .bootstrap_badge {background-color: #7326A1;}
.site .php_badge {background-color: #0058BF;}
.site .mysql_badge {background-color: #f38c0e;}
.site .figma_badge {background-color: #343434;}


.site .page_url ul {
  gap: var(--base-unit);
  color: var(--white-color);
}

.site .page_url li {
  position: relative;
}

.site .page_url li:after {
  content: '';
  position: absolute;
  left: 0; bottom: 0; right: 100%;
  height: 1px;
  background-color: var(--white-color);
  transition: .3s;
}

.site .page_url li:hover:after {
  right: 0;
}

.site .page_url li:not(:hover) {
  color: rgb(220, 220, 220);
}
/* -------- //site -------- */


/* -------- contact -------- */
.contact {
  margin-top: calc(var(--base-unit)*6);
  padding: var(--base-unit2) 0;
}

.contact ul {
  gap: var(--base-unit);
  margin-top: var(--base-unit2);
}

.contact li {
  position: relative;
}

.contact li+li:after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: var(--black-color);
  left: calc(var(--base-unit)/-2); top: 5px; bottom: 5px;
}
/* -------- //contact -------- */

.footer {
  height: var(--base-unit2);
  color: var(--white-color);
}



/* -------- aside_btns -------- */
.aside_btns {
  position: fixed;
  bottom: var(--base-unit2);
  right: 50%;
  margin-right: -640px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.aside_btns.show {
  opacity: 1;
  visibility: visible;
}

.aside_btns a {
  width: var(--base-unit2);
  height: var(--base-unit2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white-color);
  font-size: 34px;
  pointer-events: all;
}

.aside_btns a + a {
  margin-top: calc(var(--base-unit)/2);
}
/* -------- // aside_btns -------- */


.deco_item {
  position: absolute;
  top: 67%;
  left: -45px;
  animation: rotate 2.5s infinite;
  transform: rotate(-5deg);
  transform-origin: top center;
}

@keyframes rotate {
  0% {transform: rotate(-5deg);}
  50% {transform: rotate(0deg);}
  100% {transform: rotate(-5deg);}
}




/* ~1400px */
@media (max-width: 1400px){
  .aside_btns {
    margin-right: -555px;
  }
}


/* ~1200px */
@media (max-width: 1200px){
  .font_title {
    font-size: 35px;
  }

  .aside_btns {
    margin-right: -465px;
  }

  .aside_btns a {
    width: 50px;
    height: 50px;
    font-size: 28px;
  }

  .about {padding: calc(var(--base-unit)*6) 0 calc(var(--base-unit)*3);}
}


/* ~991px */
@media (max-width: 991px){
  body {padding-top: 90px;}

  .header {
    height: 90px;
    background-color: var(--common-bg);
  }

  .header.shrink {
    height: calc(var(--base-unit)*2.5);
  }

  .header.shrink .logo {
    font-size: 40px;
  }

  .header .logo {
    font-size: 50px;
    top: 50%;
    transform: translate(-50%,-50%);
    line-height: 1;
    margin-top: 10px;
    transition: .3s;
  }

  .header .menu_btn {
    display: block;
    color: var(--white-color);
    cursor: pointer;
    font-size: 25px;
  }

  .header nav {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: calc(100vh - 90px*2);
    border-radius: 0;
    background-color: rgba(255, 255, 255, .95);
  }

  .header nav.active {
    opacity: 1;
    visibility: visible;
  }

  .header.shrink nav {
    height: calc(100vh - 75px);
  }

  .header li {
    font-size: 50px;
    color: var(--font-color);
    height: 60px;
  }

  .header li a {
    top: 20px;
  }

  .header li:hover a,
  .header li.active a {
    top: -33px;
    color: var(--blue);
  }

  main {
    margin-top: calc(-1 * var(--base-unit2)); 
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .home {
    padding: calc(var(--base-unit)*6) 0 var(--base-unit2);
  }

  .home .text_box {
    text-align: center;
    margin-bottom: var(--base-unit);
  }

  .home .text_box br {
    display: none;
  }

  .home .coffee_cat {
    margin-right: 0;
  }

  .skills ul {
    gap: 25px 0;
  }

  

  .skills li {
    width: calc(100% / 3);
    transition: transform .3s;
  }

  .skills li .img {
    width: 40px;
    height: auto;
    background: none;
    box-shadow: none;
    font-size: 30px;
    margin-right: 10px;
  }

  .skills li span {
    margin-top: 0;
    font-size: 18px;
  }

  .skills li:hover .img,
  .skills li.active .img {
    top: 0px;
  }

  .skills li:not(:hover) {
    opacity: .5;
  }

  .skills li:hover {
    transform: translateY(-3px);
    opacity: 1;
  }

  .skills li.active {
    opacity: 1;
  }

  .skills li:active .img {
    transform: none;
  }

  .site .swiper-slide img {
    margin-right: 0;
    width: 100%;
    height: auto;
  }

  .contact li+li:after {
    display: none;
  }

  .contact ul {
    gap: calc(var(--base-unit)/2);
    margin-top: var(--base-unit);
  }

  .aside_btns {
    margin-right: -355px;
    z-index: 888;
  }

  .deco_item {
    position: absolute;
    top: 61%;
    left: -1px;
    animation: hideAndSeek 3s infinite;
    transform: translateX(-50px);
    z-index: 2;
  }
  
  @keyframes hideAndSeek {
    0% {left: -1px;}
    50% {left: 35px;}
    80% {left: 35px;}
    100% {left: -1px;}
  }
}

@media (max-width: 767px) {
  .deco_item {
    top: 60%;
  }

  .aside_btns {
    margin-right: 0;
    right: 20px;
  }
}

@media (max-width: 575px) {
  .font_XL { font-size: 28px;}
  body {padding-top: 40px;}
  .deco_item {top: 58%; left: -15px; transform: scale(0.85); transform-origin: left bottom;}
  @keyframes hideAndSeek {
    50% {left: -40px;}
    50% {left: -15px;}
    80% {left: -15px;}
    80% {left: -40px;}
  }

  .header nav {
    height: calc(100vh - 130px);
  }
  .header .menu_btn {
    margin-right: 20px;
  }

  .site .slide_bottom .lang ul {
    gap: 3px 10px;
  }
  .site .slide_bottom .lang li {
    background: none;
    padding: 0;
  }
  .site .page_url ul {
    gap: 15px;
  }
  .site .page_url li:after {
    right: 0;
    bottom: 4px;
  }
}

@media (max-width: 470px) {
  .header .logo {
    font-size: 38px;
  }

  .home .text_box br {
    display: block;
  }

  .skills li .img {
    display: none !important;
    text-align: center;
  }

  .site .page_url ul {
    flex-direction: column;
    align-items: flex-start;
  }
}