@import 'comm';

body {
  padding-top: $base-unit*7;
  &.active {
    overflow: hidden;
  }
}
.container.yellow_bg {padding: 0; position: relative;}

/* -------- header -------- */
.header {
  height: $base-unit*2.5;
  position: sticky;
  top: -1px;
  z-index: 9999;
  transition: .3s;
  
  &.shrink {
    height: $base-unit*2;
  }

  .menu_btn {
    display: none;
  }

  .logo {
    position: absolute;
    top: $base-unit2 * -1;
    left: 50%;
    transform: translateX(-50%);
  }

  nav, ul {
    height: 100%;
  }

  nav {
    border-radius: 0 0 $border-radius3 $border-radius3;
  }

  li {
    overflow: hidden;
    color: $white-color;

    a {
      text-transform: uppercase;
      position: relative;
      transition: top .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      top: 0;

      &:after {
        content: attr(data-text);
        position: absolute;
        left: 0; right: 0; top: 100%; bottom: -100%;
        transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }

      li:hover &:after {
        top: 100%; bottom: -100%;
      }
    }

    &:hover a,
    &.active a {
      top: -24px;
      color: $blue;
    }
  }//li

}//header
/* -------- //header -------- */


/* -------- home -------- */
.home {
  padding: $base-unit*6 0 $base-unit*4;

  .coffee_cat {
    padding: 70px 12px 30px;
    margin-right: $base-unit2;
  }

  .text_box p {
    line-height: 40px;
    color: $font-color;
  }
}//home
/* -------- //home -------- */


/* -------- about -------- */
.about {
  padding: $base-unit3*2 0;

  &_content {
    margin-top: $base-unit2;
  }

  .text_box p+p {
    margin-top: $base-unit;
  }
}

.skills {
  padding-top: $base-unit2;

  .font_title {
    text-align: left;
  }

  ul {
    gap: 20px;
    margin: $base-unit2 0;
  }

  li {
    width: calc(100% / 9);
    cursor: pointer;

    .img {
      width: 100%;
      height: 100px;
      background-color: $white-color;
      box-shadow: $box-shadow;
      border-radius: $border-radius2;
      font-size: $base-unit2;
      transition: .3s;
      position: relative;
      top: 0;

      img {width: 60%;}
    }

    &:hover .img,
    &.active .img {
      top: -15px;
    }

    &:active .img {
      transform: scale(0.95);
    }

    span {
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 10px;
    }    
  }

  .bar {
    height: $base-unit;
    margin-right: $base-unit/2;
  }
}//skill
/* -------- //about -------- */


/* -------- site -------- */
.site {
  padding-top: $base-unit2*2.5;

  .swiper {
    margin-top: $base-unit;

    &-slide {
      padding: $base-unit2;
      box-sizing: border-box;
      color: $white-color;
      background-color: #100f0f;
      box-shadow: $box-shadow10;

      h3 {
        line-height: 45px;
      }
      
      img {
        width: 330px;
        height: 210px;
        object-fit: cover;
        background-color: #ddd;
        margin-right: $base-unit;
      }

      .text_box li {
        color: rgb(220, 220, 220);
        list-style-type: disc;
        margin-left: 20px;
      }

      .slide_bottom {
        display: flex;
        flex-direction: column;
        margin-top: $base-unit;
        gap: $base-unit;

        h4 {
          margin-right: $base-unit;
        }

        .lang {
          ul { gap: $base-unit/2;}
          li {
            padding: 0 10px;
            border-radius: $border-radius1;
            text-transform: uppercase;
          }
        }
      }
    }
  } //swiper

  .page_url ul {
    gap: $base-unit;
    color: $white-color;

    li {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0; bottom: 0; right: 100%;
        height: 1px;
        background-color: $white-color;
        transition: .3s;
      }

      &:hover:after {
        right: 0;
      }

      &:not(:hover) {
        color: rgb(201, 201, 201);
      }
    }
  } //page_url ul

  //swiper css 변경
  .swiper-button-prev:after, 
  .swiper-rtl .swiper-button-next:after,
  .swiper-button-next:after, 
  .swiper-rtl .swiper-button-prev:after {
    display: none;
  }

  .swiper-button-next, .swiper-button-prev {
    font-size: 50px;
    color: $white-color;
  }

  //site 배찌 스타일
  .html_badge {background-color: #d83808;}
  .css_badge {background-color: #25BEDF; color: $font-color; font-weight: 700;}
  .jquery_badge {background-color: #D2CA04; color: $font-color;font-weight: 700;}
  .bootstrap_badge {background-color: #7326A1;}
  .php_badge {background-color: #0058BF;}
  .mysql_badge {background-color: #f38c0e; color: $font-color;font-weight: 700;}
  .figma_badge {background-color: #343434;}
} //site
/* -------- //site -------- */


/* -------- contact -------- */
.contact {
  margin-top: $base-unit3*2;
  padding: $base-unit2 0;

  ul {
    gap: $base-unit;
    margin-top: $base-unit2;

    li {
      position: relative;

      &+li:after {
        content: '';
        position: absolute;
        width: 1px;
        background-color: $black-color;
        left: $base-unit/-2; top: 5px; bottom: 5px;
      }
    }
  }
}//contact
/* -------- //contact -------- */

.footer {
  height: $base-unit2;
  color: $white-color;
}

/* -------- aside_btns -------- */
body.active .aside_btns {display: none;}

.aside_btns {
  position: fixed;
  bottom: $base-unit2;
  right: 50%;
  margin-right: -640px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  a {
    width: $base-unit2;
    height: $base-unit2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $white-color;
    font-size: 34px;
    pointer-events: all;

    &+a {
      margin-top: $base-unit/2;
    }
  }
}//aside_btns
/* -------- //aside_btns -------- */

.deco_item {
  position: absolute;
  top: 67%;
  left: -45px;
  animation: rotate 2.5s infinite;
  transform: rotate(-5deg);
  transform-origin: top center;
}

@keyframes rotate {
  0% {transform: rotate(-5deg);}
  50% {transform: rotate(0deg);}
  100% {transform: rotate(-5deg);}
}


/* ~1400px */
@media (max-width: 1400px){
  .aside_btns {
    margin-right: -555px;
  }
} //max-width: 1400px

/* ~1200px */
@media (max-width: 1200px){
  .font_title {
    font-size: 35px;
  }

  .aside_btns {
    margin-right: -465px;

    a {
      width: 50px;
      height: 50px;
      font-size: 28px;
    }
  }

  .about {padding: $base-unit3*2 0 $base-unit3;}
} //max-width: 1200px

@media (max-width: 991px){
  body {padding-top: 90px;}

  .header {
    height: 90px;
    background-color: $common-bg;

    &.shrink {
      height: $base-unit*2.5;

      .logo {
        font-size: 40px;
      }

      nav {
        height: calc(100vh - 75px);
      }
    } //header.shrink

    .logo {
      font-size: 50px;
      top: 50%;
      transform: translate(-50%,-50%);
      line-height: 1;
      margin-top: 10px;
      transition: .3s;
    }

    .menu_btn {
      display: block;
      color: $white-color;
      cursor: pointer;
      font-size: 25px;
    }

    nav {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: calc(100vh - 90px*2);
      border-radius: 0;
      background-color: rgba(255, 255, 255, .95);

      &.active {
        opacity: 1;
        visibility: visible;
      }

      li {
        font-size: 50px;
        color: $font-color;
        height: 60px;

        a {
          top: 20px;
        }

        &:hover a,
        &.active a {
          top: -33px;
          color: $blue;
        }
      }
    } //header nav
  } //header

  main {
    margin-top: -1*$base-unit2; 
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .home {
    padding: $base-unit3*2 0 $base-unit2;

    .text_box {
      text-align: center;
      margin-bottom: $base-unit;

      br {
        display: none;
      }
    }

    .coffee_cat {
      margin-right: 0;
    }
  }//home

  .skills {
    ul {
      gap: 25px 0;
    }

    li {
      width: calc(100% / 3);
      transition: transform .3s;

      .img {
        width: 40px;
        height: auto;
        background: none;
        box-shadow: none;
        font-size: 30px;
        margin-right: 10px;
      }

      span {
        margin-top: 0;
        font-size: 18px;
      }

      &:not(:hover) {
        opacity: .5;
      }
    
      &:hover .img,
      &.active .img {
        top: 0px;
      }

      &:hover {
        transform: translateY(-3px);
        opacity: 1;
      }

      &.active {
        opacity: 1;
      }
    }//skills li
  } //.skills

  .site .swiper-slide img {
    margin-right: 0;
    width: 100%;
    height: auto;
  }

  .contact ul {
    gap: $base-unit/2;
    margin-top: $base-unit;

    li+li:after {
      display: none;
    }
  }

  .aside_btns {
    margin-right: -355px;
    z-index: 888;
  }

  .deco_item {
    position: absolute;
    top: 61%;
    left: -1px;
    animation: hideAndSeek 3s infinite;
    transform: translateX(-50px);
    z-index: 2;
  }
  
  @keyframes hideAndSeek {
    0% {left: -1px;}
    50% {left: 35px;}
    80% {left: 35px;}
    100% {left: -1px;}
  }
}//max-width: 991px

/* ~767px */
@media (max-width: 767px) {
  .deco_item {
    top: 60%;
  }

  .aside_btns {
    margin-right: 0;
    right: 20px;
  }
}//max-width: 767px


/* ~575px */
@media (max-width: 575px) {
  .font_XL { font-size: 28px;}
  body {padding-top: 40px;}
  .deco_item {top: 58%; left: -15px; transform: scale(0.85); transform-origin: left bottom;}
  @keyframes hideAndSeek {
    50% {left: -40px;}
    50% {left: -15px;}
    80% {left: -15px;}
    80% {left: -40px;}
  }

  .header {
    nav {
      height: calc(100vh - 130px);
    }

    .menu_btn {
      margin-right: 20px;
    }
  }//header

  .site {
    .slide_bottom .lang ul {
      gap: 3px 10px;

      li {
        background: none;
        padding: 0;
      }
    }

    .page_url ul {
      gap: 15px;

      li:after {
        right: 0;
        bottom: 4px;
      }
    }
  }//site
}//max-width: 575px


/* ~470px */
@media (max-width: 470px) {
  .header .logo {
    font-size: 38px;
  }

  .home .text_box br {
    display: block;
  }

  .skills li .img {
    display: none !important;
    text-align: center;
  }

  .site .page_url ul {
    flex-direction: column;
    align-items: flex-start;
  }
}//max-width: 470px
